<form action="/cart" method="post">
    <button class="btn">Add to Cart</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="product_id" value="<%= selected_product._id %>">
</form>